* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ede7d5;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    color: #7b8a84;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.barra {
    width: 300px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.btn {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #7b8a84;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #218838;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.resultado {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    margin-left: 1rem;
}

.resultado img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0.8rem 0;
}